
#body{
    background-size: cover;
    margin: auto;
}

table-striped{
    width: 1px;
}

#txtCodigo{
    
    color: #286090;
    
}

#txtInput{
    color: #ffffff;
    font-weight: 100
}

#btn1{
    width: 110%;
    border-radius: 0px
}

#btn2{
    width: 102%;
    border-radius: 0px
}



#btnAñadir{
    width: 1500px;
}

#nomCategoria{
    width: 300px;
}


#td1{
    padding: 1.4%;
}

#td2{
    padding-left: 100px; 
    padding-bottom: 200px;
}

input[type=file] {
    display: block;
    width: 10px;
}

#generarCod{
    width: 100%;
}

#tr1{
    color: #737373
}

.navbar{
    border-radius: 0px;
    margin-bottom: 0px;
}

#tablaAlmacen{
    width: 83%;
    margin-left: 73px
}

/* Tabs panel */
.tabbable-panel {
    border:1px solid #eee;
    padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
    border: none;
    margin: 0px;
}
.tabbable-line > .nav-tabs > li {
    margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
    border: 0;
    margin-right: 0;
    color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
    color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
    border-bottom: 4px solid #D6D6D6;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
    border-bottom: 4px solid #428bca;
    position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
    border: 0;
    color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
    color: #404040;
}
.tabbable-line > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
    padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
    border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
    margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
    border-bottom: 0;
    border-top: 4px solid #fbcdcf;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
    margin-bottom: -2px;
    border-bottom: 0;
    border-top: 4px solid #f3565d;
}
.tabbable-line.tabs-below > .tab-content {
    margin-top: -10px;
    border-top: 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

input::-webkit-input-placeholder {
    color:    #ffffff;
    font-weight: 10;
    font: menu;
    letter-spacing: 1px;

}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

